@using OpenSpacePlanner.Contracts
@model IList<INosSession>
<tr>
		<td>
			9:00 - 9:45
		</td>
		<td colspan="4"  style="">
			Ankommen
		</td>
	</tr>
	<tr>
		<td>
			10:00 - 10:45
		</td>
		<td colspan="4" style="">
		<table class="innertable">
			<tr>
				<td style="text-align: right;border:none"><img src="/content/images/attendees.png" /></td>
				<td style="border:none"><h2>Themenfindung</h2></td>
				<td style="text-align: left;border:none"><img src="/content/images/attendees.png"/></td>
			</tr>
		</table>
			
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td colspan="4" style="">
			Raumwechsel
		</td>
	</tr>
	<tr>
		<td>
			11:00 - 11:45
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 1.1") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 2.1") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 3.1") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 4.1") })
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td colspan="4" style="">
			Raumwechsel
		</td>
	</tr>
	<tr>
		<td>
			12:00 - 12:45
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 1.2") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 2.2") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 3.2") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 4.2") })
		</td>
	</tr>
	<tr>
		<td>
			12:45 - 14:00
		</td>
		<td colspan="4" style="">
			Mittagspause
		</td>
	</tr>
	<tr>
		<td>
			14:00 - 14:45
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 1.3") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 2.3") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 3.3") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 4.3") })
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td colspan="4">
			Raumwechsel
		</td>
	</tr>
	<tr>
		<td>
			15:00 - 15:45
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 1.4") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 2.4") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 3.4") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 4.4") })
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td colspan="4">
			Raumwechsel
		</td>
	</tr>
	<tr>
		<td>
			16:15 - 17:00
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 1.5") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 2.5") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 3.5") })
		</td>
		<td>
			@Html.Partial("Session", Model, new ViewDataDictionary { new KeyValuePair<string, object>("session", "Session 4.5") })
		</td>
	</tr>